<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{page.title}} - 新刊トゥデイ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{page.title}}">
    <meta property="og:type" content="book">
    <meta property="og:url" content="http://shinkan.today/book/{{page.isbn}}">
    <meta property="og:image" content="{{page.cover}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="book:isbn" content="{{page.isbn}}">
    <meta property="book:release_date" content="{{page.pubdate}}">

    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/book.css">
  </head>

  <body>
    <header>
      <h2>本の詳細</h2>
      <a class="prev" href="/#{{page.pubdate}}">戻る</a>
    </header>
    <img src={{page.cover}}>
    <h3>{{page.title}}</h3>
    <p>{{page.description}}</p>
    <ul>
      {% if page.author != '' %}<li>{{page.author}}</li>{% endif %}
      {% if page.series != '' %}<li>{{page.series}}</li>{% endif %}
      {% if page.publisher != '' %}<li>{{page.publisher}}</li>{% endif %}
      {% if page.price != '' %}<li>価格 &yen;{{page.price}}</li>{% endif %}
      <li>ISBN {{page.isbn}}</li>
    </ul>

    <ol>
      <li><goto-amazon isbn="{{page.isbn}}" /></li>
      <li><goto-kinokuniya isbn="{{page.isbn}}" /></li>
      <li><goto-honto isbn="{{page.isbn}}" /></li>
      <li><goto-calil isbn="{{page.isbn}}" /></li>
      <li><goto-booklog isbn="{{page.isbn}}" /></li>
    </ol>

    <footer>新刊トゥデイ</footer>

    <script src="/book.js"></script>
  </body>

</html>
