<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title>新刊トゥデイ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="新刊トゥデイ">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://shinkan.today/">
    <meta property="og:image" content="http://shinkan.today/images/ogp-image.png">
    <meta property="og:description" content="日々新しい本を探す活字中毒な人のため、新刊情報を淡々と表示するサイト">
    
    <link rel="stylesheet" href="/global.css">
  </head>

  <body>
    <app></app>
    <script src="/main.js"></script>
  </body>

</html>
